<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-id="main">
        <div data-role="navbar">
            <ul>
                <li class=""><a class="">設定</a></li> 
                <li class=""><a class="">業績</a></li>
                <li class=""><a class="">出勤</a></li>
                <li class=""><a class="">庫存</a></li> 
            </ul>
        </div> 

        <span id="gotopBtn" class="gotopBtn" style="display: none;">TOP</span>      
</div>  