<!doctype html>
<html>
<head>
<head>
  <title>庫存查詢</title> 
  {{#if showTests}}
  		<link rel="stylesheet" type="text/css" href="/vender/mocha.css">
  {{/if}}   
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>