{{!--
<h1>about {{{fortune}}}</h1>

{{> weather}}

<h2>h2 about {{{fortune}}}</h2>

<script src="/js/backbone_demo.js"></script>
--}}

<script src="/js/about_detail.js"></script>   
<script src="/js/common_utility.js"></script>

<div data-role="page">      
    
    <div data-role="header" data-position="fixed" data-tap-toggle="false" style="height: 50px;background-color: #f6f6f6;">
        <div>
            <a id="hrefBackBtn" class="ui-link" style="background-image: url(/images/hrefBackBtn.png);height: 50px;background-repeat: no-repeat;background-position: center 3px;background-size: auto 35px;height: 40px;width: 50px;position: absolute;color: #f6f6f6;"></a>
        </div>    
    </div>    

    <div data-role="content">

      ok
    </div>
    {{> commonfooter}}          
</div>




