{{!--
<h1>about {{{fortune}}}</h1>

{{> weather}}

<h2>h2 about {{{fortune}}}</h2>
--}}

    <script src="/js/backbone_demo.js"></script>


<div data-role="page">                                    
    <div data-role="content">

        <div id='addDiv'>
        <label>title</label>
        <input id='titleName'></input>
        <button class='addbutton'>submit</button>
        </div>


        <ul id='todoapp' data-role="listview" style="padding-top: 20px;">
        </ul>
          
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-id="main">
        <div data-role="navbar">
            <ul>
                <li class=""><a class="">設定</a></li> 
                <li class=""><a class="">業績</a></li>
                <li class=""><a class="">出勤</a></li>
                <li class=""><a class="">庫存</a></li> 
            </ul>
        </div>       
    </div>        
</div>




