{{!--
<h1>about {{{fortune}}}</h1>

{{> weather}}

<h2>h2 about {{{fortune}}}</h2>
--}}
    <link rel="stylesheet" type="text/css" href="/vender/about.css">
    <script src="/js/backbone_demo.js"></script>
    <script src="/js/common_utility.js"></script>


<div data-role="page">                                    
    <div data-role="content">

        <div id='addDiv'>
        <label>title</label>
        <input id='titleName'></input>
        <button class='addbutton'>submit</button>
        </div>


        <ul id='todoapp' data-role="listview" style="padding-top: 20px;">
        </ul>
          
    </div>
    {{> commonfooter}}   
</div>




