<link rel="stylesheet" type="text/css" href="/vender/getAllUsers.css">



<div id="footerContent_1" class="footerContent">

    <div class="controlgroup-fixed">
    <div data-role="controlgroup" data-type="horizontal" >
    <a data-role="button" data-inline="true" buttonName="Main" class='controlgroupBtn'>Main</a>
    <a data-role="button" data-inline="true" buttonName="Second" class='controlgroupBtn'>Second</a>  
    </div>
    </div>
  
    <div id="mainContent" class="tabContent">
      <ul data-role="listview">
      {{#each users}}
          <li>
            <a href="{{hrefColumn}}">
              <img src="{{imgColumn}}">
              <div class='user'>
                  <h3>{{name}}</h3>
                  <p>{{addColumn}}</p>
              </div>
            </a>      
          </li>
      {{/each}}
      </ul>
    </div>

    <div id="secondContent" class="tabContent">
    second
    </div>

</div>
  

<div id="footerContent_2" class="footerContent" >


  <div class="headerContent_2">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>    
          <td width="50"><a class="classification" href=""></a></td>
          <td id="headMomoLogoTh"><h1 class="logo" alt="momo" title="momo">header</h1></td>
          <td width="40" class="topSearch"><a>搜尋</a></td>
          <td width="40" class="topBrowseFoot"><a id="headHistoryLstA" >足跡</a></td>
      
      
    </tr>
  </tbody>
      </table>
   </div>
        <div class="landing__content">
            <div class="landing__wrap clearfix">
                <div class="landing__inner">
                    <h1>最新消息</h1>
                    <p>培養時尚的敏銳度，<br>就從這裡開始！</p>
                </div>
                <div class="landing__inner">
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page'">
                        <span>活動快訊</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page&amp;mode=event_news'">
                        <span>新聞消息</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page'">
                        <span>活動快訊</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page&amp;mode=event_news'">
                        <span>新聞消息</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page'">
                        <span>活動快訊</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                    <div class="landing__btn" onclick="window.location.href='/zh/news/lists?from=landing_page&amp;mode=event_news'">
                        <span>新聞消息</span>
                        <div class="btn-arrow btn-arrow--right lannding__btn-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div id="expand">
<dl>
    <dt>Q: <a href="#">What is the question?</a></dt>
    <dd>
      <ul data-role="listview">
        <li><a href="acura.html">Acura</a></li>
        <li><a href="audi.html">Audi</a></li>
        <li><a href="bmw.html">BMW</a></li>
      </ul>
    </dd>
</dl>
<dl>
    <dt>Q: <a href="#">What is the question?</a></dt>
    <dd>
      <ul data-role="listview">
        <li><a href="acura.html">Acura</a></li>
        <li><a href="audi.html">Audi</a></li>
        <li><a href="bmw.html">BMW</a></li>
      </ul>
    </dd>
</dl>
<dl>
    <dt>Q: <a href="#">What is the question?</a></dt>
    <dd>A: The answer to the question!</dd>
</dl>
</div>





<div data-role="footer" id="footer" data-position="fixed" data-tap-toggle="false" >
  <div data-role="navbar" class="footerArea">
    <ul class="indexPage ui-grid-c">              
      <li class=""><a class="" buttonName="footerHref_1">設定1</a></li> 
      <li class=""><a class="" buttonName="footerHref_2">設定2</a></li> 
      <li class=""><a class="" buttonName="footerHref_3">設定3</a></li> 
      <li class=""><a class="" buttonName="footerHref_4">設定4</a></li> 
    </ul>
  </div>
</div>








<script>
$(document).ready(function () {
  console.log('getAllUsers')

    
    //$(".ui-page").css({'-webkit-backface-visibility':'hidden'});
    //$(".ui-page").css({'-webkit-transform':'translate3d(0,0,0)'});
    

    $("#expand dt a").on('vclick', function () {
       $(this).parent().siblings("dd").slideToggle({duration:250}); 
    });


})
</script>
<script src="/js/getAllUsers.js"></script>  