{{!--
<h1>about {{{fortune}}}</h1>

{{> weather}}

<h2>h2 about {{{fortune}}}</h2>


    <link rel="stylesheet" type="text/css" href="/vender/about.css">
    <script src="/js/backbone_demo.js"></script>
    <script src="/js/common_utility.js"></script>


<div data-role="page">                                    
    <div data-role="content">

        <div id='addDiv'>
        <label>title</label>
        <input id='titleName'></input>
        <button class='addbutton'>submit</button>
        </div>


        <ul id='todoapp' data-role="listview" style="padding-top: 20px;">
        </ul>
          
    </div>
    {{> commonfooter}}   
</div>

<script src="/js/backbone.localStorage.js"></script>
<script src="/js/backbone-websql.js"></script>

<script src="/js/testpubsub.js"></script>

<script id="userTemplate" type="text/html">
   <li><%= name %></li>
</script>

<script id="ratingsTemplate" type="text/html">
   <li><strong><%= title %></strong> was rated <%= rating %>/5</li>
</script>
--}}
<link rel="stylesheet" type="text/css" href="/vender/about.css">
<script src="/js/require.js" data-main="js/main"></script>

<script type="text/html" id="template-contact">
  <div class='contact'>
    <strong><%= name %></strong>
    <span><%= email %></span>
  </div>
</script>
<script type="text/html" id="template-book">
  <div class='contact'>
    <strong><%= path %></strong>
    <strong><%= path %></strong>
    <strong><%= path %></strong>
    <strong><%= path %></strong>
    <strong><%= path %></strong>
  </div>
</script>
<div data-role="page">                                    
    <div data-role="content">
        <ul id='tabs'>
            <li data-tab="users">Users</li>
            <li data-tab="groups">Groups</li>
        </ul>
        <div id="tabsContent">
            <div data-tab="users">user content</div>
            <div data-tab="groups">groupo content</div>
        </div>
        <ul id='tabs2'>
            <li data-tab="users">Users2</li>
            <li data-tab="groups">Groups2</li>
        </ul>
        <div id="tabsContent2">
            <div data-tab="users">user content2</div>
            <div data-tab="groups">groupo content2</div>
        </div>
       testrequire

        <div id="contact">   
        </div>     
        <div id="book">   
        </div>     

        <div id="container">
           <div class="toggle" href="#">More Info (Address)
               <span class="info">
                   This is more information
               </span></div>
           <div class="toggle" href="#">Even More Info (Map)
               <span class="info">
                  <iframe src="http://www.map-generator.net/extmap.php?name=London&amp;address=london%2C%20england&amp;width=500...gt;"</iframe>
               </span>
           </div>
        </div>


          
    </div>
    {{> commonfooter}}   
</div>

